<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="/static/plugins/bs/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/plugins/fa/css/font-awesome.min.css">
    <script src="/static/plugins/jquery-3.4.1.js"></script>
    <script src="/static/plugins/bs/js/bootstrap.min.js"></script>
	<style>
		* {
			margin: 0;
			padding: 0;
		}
	</style>
</head>
<body>

{% load components %}
{% get_header_info 'Http' %}

<div class="container-fluid">
		<div class="row">
		<div class="col-md-2" style="">
			{% left_bar %}
		</div>
		<div class="col-md-10" style="">
			{% header_line %}
			<br/><br/>
			<hr/>
			<div class="container-fluid">
				<h5>用户的关注关系</h5>

			</div>
		</div>
	</div>
</div>



</body>
</html>