<style>
	._item_box {
		width: 240px;
		height: 100px;
		background: #e07d7d;
	}
</style>

<div>
	<div class="" style="display: flex; justify-content: space-between; padding-left: 20px; padding-right: 20px; padding-top: 20px">
		<div class="_item_box">
			<div class="col-md-6" style="padding: 0">
				<div style="width: 100px; height: 100px; background: royalblue"></div>
			</div>
			<div class="col-md-6">
				<div style="width: 80px">
					<span>发帖统计</span>
					<span>18800</span>
				</div>
			</div>
		</div>
		<div class="_item_box">
			<div class="col-md-6" style="padding: 0">
				<div style="width: 100px; height: 100px; background: royalblue"></div>
			</div>
			<div class="col-md-6">
				<div style="width: 80px">
					<span>发帖统计</span>
					<span>18800</span>
				</div>
			</div>
		</div>
				<div class="_item_box">
			<div class="col-md-6" style="padding: 0">
				<div style="width: 100px; height: 100px; background: royalblue"></div>
			</div>
			<div class="col-md-6">
				<div style="width: 80px">
					<span>发帖统计</span>
					<span>18800</span>
				</div>
			</div>
		</div>
				<div class="_item_box">
			<div class="col-md-6" style="padding: 0">
				<div style="width: 100px; height: 100px; background: royalblue"></div>
			</div>
			<div class="col-md-6">
				<div style="width: 80px">
					<span>发帖统计</span>
					<span>18800</span>
				</div>
			</div>
		</div>
	</div>
</div>