<style>
	._item_box {
		width: 240px;
		height: 100px;
		border-radius: 12px;
		background: rgba(125, 187, 241, 0.47);
		overflow: hidden;
	}

	.four-box span {
		font-size: 1.6rem;
		line-height: 50px;
	}

	.left_box {
		width: 100px; height: 100px;
		background: rgba(252, 167, 228, 0.24)
	}
</style>

<div>
	<div class="four-box" style="display: flex; justify-content: space-between; padding-left: 20px; padding-right: 20px; padding-top: 20px">
		<div class="_item_box">
			<div class="col-md-6" style="padding: 0">
				<div class="left_box"></div>
			</div>
			<div class="col-md-6">
				<div style="width: 80px">
					<span>发帖统计</span>
					<span>18800</span>
				</div>
			</div>
		</div>
		<div class="_item_box">
			<div class="col-md-6" style="padding: 0">
				<div class="left_box"></div>
			</div>
			<div class="col-md-6">
				<div style="width: 80px">
					<span>发帖统计</span>
					<span>18800</span>
				</div>
			</div>
		</div>
				<div class="_item_box">
			<div class="col-md-6" style="padding: 0">
				<div class="left_box"></div>
			</div>
			<div class="col-md-6">
				<div style="width: 80px">
					<span>发帖统计</span>
					<span>18800</span>
				</div>
			</div>
		</div>
				<div class="_item_box">
			<div class="col-md-6" style="padding: 0">
				<div class="left_box"></div>
			</div>
			<div class="col-md-6">
				<div style="width: 80px">
					<span>发帖统计</span>
					<span>18800</span>
				</div>
			</div>
		</div>
	</div>
</div>