<style>
	.live_box {
		display: flex; justify-content: space-between
	}
	.fa-facebook-official {
		font-size: 1.6rem; color: #1d8cee;
	}
	.live_content {
		overflow-x: scroll !important;
	}
	.fa-heart {
		color: red;
	}
	.fa-comment {
		color: #009999;
	}
</style>

<div class="">
	<div class="" style="height: 580px; width: 100%;margin-top: 20px">
		<div class="container-fluid">
			<div class="col-md-8" style="height: 580px;">
				<!------- Dash Board Here --------->
				<div class="container-fluid" style="height: 520px; border-radius: 12px 12px 0 0">
					<div id="chartdiv" style="height: 520px"></div>
				</div>

				<div class="container-fluid" style="height: 60px; border-radius: 0 0 12px 12px">
					<div class="col-md-12" style="display: flex; justify-content: space-around">
						<span style="">今日&emsp;<span style="font-size: 40px">6000</span></span>
						<span style="">昨日同比&emsp;<span style="font-size: 40px">+600</span></span>
					</div>
				</div>
			</div>
			<div class="col-md-4" style="height: 580px; border-radius: 12px; padding: 20px">
				<!------- List Here --------->
				<div class="clearfix">
					<h4 class="pull-left" style="width: 80px">帖子跟踪</h4>
{#					<select class="form-control pull-right" style="width: 280px">#}
{#						<option>微博热评</option>#}
{#					</select>#}
				</div>
				<hr/>

				<div style="height: 240px; overflow-y: scroll">
					<div class="panel panel-default">
						<div class="panel-body live_box">
							<i class="fa fa-facebook-official"></i>&emsp;
							<div class="live_content">
								My favorite teacher is Jiang Hua ... <!-- Only 32char + 3'.' -->
							</div>
							<span class="fa fa-heart"> 999</span>
							<span class="fa fa-comment"> 99</span>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-body live_box">
							<i class="fa fa-facebook-official"></i>&emsp;
							<div class="live_content">
								My favorite teacher is Jiang Hua ... <!-- Only 32char + 3'.' -->
							</div>
							<span class="fa fa-heart"> 999</span>
							<span class="fa fa-comment"> 99</span>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-body live_box">
							<i class="fa fa-facebook-official"></i>&emsp;
							<div class="live_content">
								My favorite teacher is Jiang Hua ... <!-- Only 32char + 3'.' -->
							</div>
							<span class="fa fa-heart"> 999</span>
							<span class="fa fa-comment"> 99</span>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-body live_box">
							<i class="fa fa-facebook-official"></i>&emsp;
							<div class="live_content">
								My favorite teacher is Jiang Hua ... <!-- Only 32char + 3'.' -->
							</div>
							<span class="fa fa-heart"> 999</span>
							<span class="fa fa-comment"> 99</span>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-body live_box">
							<i class="fa fa-facebook-official"></i>&emsp;
							<div class="live_content">
								My favorite teacher is Jiang Hua ... <!-- Only 32char + 3'.' -->
							</div>
							<span class="fa fa-heart"> 999</span>
							<span class="fa fa-comment"> 99</span>
						</div>
					</div>
				</div>
				<h4>最新回复
				</h4>
				<hr/>
				<div style="height: 240px; overflow-y: scroll">
					<div class="panel panel-default">
						<div class="panel-body live_box">
							<i class="fa fa-facebook-official"></i>&emsp;
							<div class="live_content">
								My favorite teacher is Jiang Hua ... <!-- Only 32char + 3'.' -->
							</div>
							<span class="fa fa-heart"> 999</span>
							<span class="fa fa-comment"> 99</span>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-body live_box">
							<i class="fa fa-facebook-official"></i>&emsp;
							<div class="live_content">
								My favorite teacher is Jiang Hua ... <!-- Only 32char + 3'.' -->
							</div>
							<span class="fa fa-heart"> 999</span>
							<span class="fa fa-comment"> 99</span>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-body live_box">
							<i class="fa fa-facebook-official"></i>&emsp;
							<div class="live_content">
								My favorite teacher is Jiang Hua ... <!-- Only 32char + 3'.' -->
							</div>
							<span class="fa fa-heart"> 999</span>
							<span class="fa fa-comment"> 99</span>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-body live_box">
							<i class="fa fa-facebook-official"></i>&emsp;
							<div class="live_content">
								My favorite teacher is Jiang Hua ... <!-- Only 32char + 3'.' -->
							</div>
							<span class="fa fa-heart"> 999</span>
							<span class="fa fa-comment"> 99</span>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-body live_box">
							<i class="fa fa-facebook-official"></i>&emsp;
							<div class="live_content">
								My favorite teacher is Jiang Hua ... <!-- Only 32char + 3'.' -->
							</div>
							<span class="fa fa-heart"> 999</span>
							<span class="fa fa-comment"> 99</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid" style="margin-top: 60px;">
			<span class="well" style="margin: 7px">
				最活跃城市：&nbsp;<span style="font-size: 2rem">马尼拉</span>
				&emsp;&emsp;&emsp;&emsp;&emsp;
				最主要职业：&nbsp;<span style="font-size: 2rem">工程师</span>
				&emsp;&emsp;&emsp;&emsp;&emsp;
				总人数：&nbsp;<span style="font-size: 2rem">1200</span>人
				&emsp;&emsp;&emsp;&emsp;&emsp;
				男性比例：&nbsp;<span style="font-size: 2rem">63</span>%
				&emsp;&emsp;&emsp;&emsp;
				女性比例：&nbsp;<span style="font-size: 2rem">37</span>%
			</span>
		</div>
	</div>
</div>


<!-- Resources -->
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

<!-- Chart code -->
<script>
am4core.ready(function() {

// Themes begin
am4core.useTheme(am4themes_animated);
// Themes end

// Create chart instance
var chart = am4core.create("chartdiv", am4charts.XYChart);

//

// Increase contrast by taking evey second color
chart.colors.step = 2;

// Add data
chart.data = generateChartData();

// Create axes
var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
dateAxis.renderer.minGridDistance = 50;

// Create series
function createAxisAndSeries(field, name, opposite, bullet) {
  var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
  if(chart.yAxes.indexOf(valueAxis) != 0){
  	valueAxis.syncWithAxis = chart.yAxes.getIndex(0);
  }

  var series = chart.series.push(new am4charts.LineSeries());
  series.dataFields.valueY = field;
  series.dataFields.dateX = "date";
  series.strokeWidth = 2;
  series.yAxis = valueAxis;
  series.name = name;
  series.tooltipText = "{name}: [bold]{valueY}[/]";
  series.tensionX = 0.8;
  series.showOnInit = true;

  var interfaceColors = new am4core.InterfaceColorSet();

  switch(bullet) {
    case "triangle":
      var bullet = series.bullets.push(new am4charts.Bullet());
      bullet.width = 12;
      bullet.height = 12;
      bullet.horizontalCenter = "middle";
      bullet.verticalCenter = "middle";

      var triangle = bullet.createChild(am4core.Triangle);
      triangle.stroke = interfaceColors.getFor("background");
      triangle.strokeWidth = 2;
      triangle.direction = "top";
      triangle.width = 12;
      triangle.height = 12;
      break;
    case "rectangle":
      var bullet = series.bullets.push(new am4charts.Bullet());
      bullet.width = 10;
      bullet.height = 10;
      bullet.horizontalCenter = "middle";
      bullet.verticalCenter = "middle";

      var rectangle = bullet.createChild(am4core.Rectangle);
      rectangle.stroke = interfaceColors.getFor("background");
      rectangle.strokeWidth = 2;
      rectangle.width = 10;
      rectangle.height = 10;
      break;
    default:
      var bullet = series.bullets.push(new am4charts.CircleBullet());
      bullet.circle.stroke = interfaceColors.getFor("background");
      bullet.circle.strokeWidth = 2;
      break;
  }

  valueAxis.renderer.line.strokeOpacity = 1;
  valueAxis.renderer.line.strokeWidth = 2;
  valueAxis.renderer.line.stroke = series.stroke;
  valueAxis.renderer.labels.template.fill = series.stroke;
  valueAxis.renderer.opposite = opposite;
}

{# 转发，评论，点赞 #}

createAxisAndSeries("visits", "Visits", false, "circle");
createAxisAndSeries("views", "Views", true, "triangle");
createAxisAndSeries("hits", "Hits", true, "rectangle");

// Add legend
chart.legend = new am4charts.Legend();

// Add cursor
chart.cursor = new am4charts.XYCursor();

// generate some random data, quite different range
function generateChartData() {
  var chartData = [];
  var firstDate = new Date();
  firstDate.setDate(firstDate.getDate() - 100);
  firstDate.setHours(0, 0, 0, 0);

  var visits = 1600;
  var hits = 2900;
  var views = 8700;

  for (var i = 0; i < 15; i++) {
    // we create date objects here. In your data, you can have date strings
    // and then set format of your dates using chart.dataDateFormat property,
    // however when possible, use date objects, as this will speed up chart rendering.
    var newDate = new Date(firstDate);
    newDate.setDate(newDate.getDate() + i);

    visits += Math.round((Math.random()<0.5?1:-1)*Math.random()*10);
    hits += Math.round((Math.random()<0.5?1:-1)*Math.random()*10);
    views += Math.round((Math.random()<0.5?1:-1)*Math.random()*10);

    chartData.push({
      date: newDate,
      visits: visits,
      hits: hits,
      views: views
    });
  }
  return chartData;
}

}); // end am4core.ready()
</script>