<div class="">
	<div class="" style="height: 580px; width: 100%; background: #2b669a; margin-top: 20px">
		<div class="container-fluid">
			<div class="col-md-8" style="height: 580px; background: #8d5ce7">
				<!------- Dash Board Here --------->
				<div class="container-fluid" style="height: 520px; background: silver">

				</div>

				<div class="container-fluid" style="height: 60px ;background: green;">
					<div class="col-md-12" style="display: flex; justify-content: space-around">
						<span style="">今日&emsp;<span style="font-size: 40px">6000</span></span>
						<span style="">昨日同比&emsp;<span style="font-size: 40px">+600</span></span>
					</div>
				</div>
			</div>
			<div class="col-md-4" style="height: 580px; background: #eabbbb">
				<!------- List Here --------->


			</div>
		</div>

		<div class="container-fluid" style="margin-top: 20px">
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">跟帖城市分布人数统计</button>&emsp;
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">跟帖城市分布人数统计</button>&emsp;
			<span class="well" style="margin: 7px">
				最活跃城市：&nbsp;<span style="font-size: 2rem">马尼拉</span>
				&emsp;&emsp;&emsp;&emsp;&emsp;
				最主要职业：&nbsp;<span style="font-size: 2rem">工程师</span>
				&emsp;&emsp;&emsp;&emsp;&emsp;
				总人数：&nbsp;<span style="font-size: 2rem">1200</span>人
				&emsp;&emsp;&emsp;&emsp;&emsp;
				男性比例：&nbsp;<span style="font-size: 2rem">63</span>%
				&emsp;&emsp;&emsp;&emsp;
				女性比例：&nbsp;<span style="font-size: 2rem">37</span>%
			</span>
		</div>
	</div>
</div>

<div class="modal fade bs-example-modal-lg" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg" role="document" style="width: 1400px">
		<div class="modal-content"  style="width: 1400px">
			<h4 class="text-center" style="padding-top: 10px; padding-bottom: 10px">跟帖城市人数分布统计</h4>
			<div class="container-fluid">
				<div style="height: 800px"></div>
			</div>
		</div>
	</div>
</div>