<style>


	.table td {
		width: 100px !important;
		{#background: #2b669a;#}
		{#border: 2px silver solid;#}
		overflow-x: scroll;
	}
</style>

<div class="panel panel-default">
	<div class="panel-heading">Panel heading</div>
	<div class="panel-body"><p>

	</p></div>
	<table class="table" style="">
		<thead>
		<tr>
			<th>nid</th>
			<th>username</th>
			<th>userwork</th>
			<th>university</th>
			<th>lives</th>
			<th>hometown</th>
			<th>high_school</th>
			<th>contact</th>
			<th>website</th>
			<th>gender</th>
			<th>birthday</th>
			<th>religion</th>
			<th>user_language</th>
			<th>interested</th>
			<th>relationship</th>
			<th>about</th>
			<th>other_names</th>
			<th>quotes</th>
			<th>user_events</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>nid</td>
			<td>username</td>
			<td>userwork</td>
			<td>university</td>
			<td>lives</td>
			<td>hometown</td>
			<td>high_school</td>
			<td>contact</td>
			<td>website</td>
			<td>gender</td>
			<td>birthday</td>
			<td>religion</td>
			<td>user_language</td>
			<td>interested</td>
			<td>relationship</td>
			<td>about</td>
			<td>other_names</td>
			<td>quotes</td>
			<td>user_events</td>
		</tr>
		</tbody>
	</table>
</div>




